
/*색상정의*/

$main-color: #ff5cc3;
$sub-color: #ffe7fa;
$basic-color01: #000000;
$basic-color02: #ffffff;
$basic-color03: #aaaaaa;
$text_01: #000000;
$text_02: #1e1e1e;
$text_03: #999999;
$text_point: #ff5cc3;

/*색상지정*/

body {
    color: $text_02;
}

h1 {
    color: $text_01;
}

.main_tit {
    color: $text_01;
}

.point {
    color: $text_point !important;
}

.gray {
    color: $text_03 !important;
}

.bg_black {
    background-color: $basic-color01 !important;
}

.bg_white {
    background-color: $basic-color02 !important;
}

.bg_gray {
    background-color: $basic-color03 !important;
}

.bg_pink {
    background-color: $main-color !important;
}

#order {
    background-color: $basic-color02;
}

.fl {
    float: left !important;
}

.fr {
    float: right !important;
}


$len  : 20;

@for $i from 1 through $len {
    .w#{$i * 5} {width : $i * 5 + '%';}

    .pd#{$i * 5}  { padding: $i * 5 + px; }
    .pdl#{$i * 5} { padding-left: $i * 5 + px;}
    .pdr#{$i * 5} { padding-right: $i * 5 + px;}
    .pdt#{$i * 5} { padding-top: $i * 5 + px;}
    .pdb#{$i * 5} { padding-bottom: $i * 5 + px;}

    .mg#{$i * 5}  { margin: $i * 5 + px;}
    .mgl#{$i * 5} { margin-left: $i * 5 + px;}
    .mgr#{$i * 5} { margin-right: $i * 5 + px;}
    .mgt#{$i * 5} { margin-top: $i * 5 + px;}
    .mgb#{$i * 5} { margin-bottom: $i * 5 + px;}
}

@font-face {
    font-family: 'LOTTERIA CHAB-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: normal;
}