:root {
  --pointcolor: rgba(245, 84, 190, 1);
  --variable-collection-sub: rgba(255, 231, 250, 1);
}

.element {
  width: 90%;
  margin: auto;
  padding: 0 5%;
  padding-top: 50px;
}
.main_pd {
  padding: 0;
  padding-top: 100px;
  height: 100vh;
  box-sizing: border-box;
}
.main_tit {
  color: #000000;
  font-family: "LOTTERIA CHAB-Regular", Helvetica;
  font-size: 45px;
  letter-spacing: 0;
  line-height: 54px;
  text-align: center;
}

.large-btn {
  height: 52px;
  width: 100%;
  font-family: "LOTTERIA CHAB-Regular", Helvetica;
  background-color: var(--pointcolor);
  border-radius: 8px;
  color: #ffffff;
  text-align: center;
  letter-spacing: -0.5px;
  font-size: 22px;
  line-height: 52px;
}

.cffe-plz {
  background-image: url(./entrance3.svg);
  background-size: 100% 100%;
  height: 62px;
  position: relative;
  width: 62px;
  margin: auto;
}

.cffe-plz .hurry {
  height: 12px;
  left: 5px;
  position: absolute;
  top: 36px;
  width: 39px;
}
.main_img {
  margin: auto;
  width: 70%;
  max-width: 300px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.main_img img {
  width: 100%;
  height: auto;
}