
:root {
  --pointcolor: rgba(245, 84, 190, 1);
  --variable-collection-sub: rgba(255, 231, 250, 1);
}

.element {
  width: 90%;
  margin: auto;
  padding: 0 5%;
  padding-top: 50px;
}
h1 {
  font-size: 32px;
  color: #000000;
  font-family: "LOTTERIA CHAB-Regular", Helvetica;
  letter-spacing: 0;
  text-align: center;
}
.main_tit {
  color: #000000;
  font-family: "LOTTERIA CHAB-Regular", Helvetica;
  font-size: 45px;
  letter-spacing: 0;
  line-height: 54px;
  text-align: center;
}

.order-list-area {
  width: 90%;
  margin: 0 5%;
  background-color: #eee;
  border: 2px #000 solid;
  border-radius: 10px;
}

#footer {
  background-color: aliceblue;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 25px 30px 25px;
  box-sizing: border-box;
}

/* 메뉴선택팝업 애니메이션 css */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
